<div class="container" *ngIf='carritoActivo == false else Carrito'>
    <div *ngFor="let plan of planes | filtroNombre: filtro, index as i">
        <h2>
            {{plan.nombre}}
        </h2>
        <p>Planes disponibles: </p>
        <select (change)="selectChangeHandler($event, i)">
            <option hidden disabled selected value>Selecione un plan</option>
            <option *ngFor="let periodo of plan.periodos, index as e" value="{{e}}">
                {{periodo.periodo}} meses por {{periodo.valor | currency}}
            </option>
        </select>
        <button *ngIf="selected[i] else agregarDisabled" (click)="agregar(i)" >Agregar al carrito</button>
        <ng-template #agregarDisabled>
            <button disabled >Agregar al carrito</button>
        </ng-template>
    </div>
</div>

<ng-template #Carrito>
    <div class="container">
        <div *ngFor="let plan of carrito | filtroNombre: filtro, index as i">
            <h2>
                {{plan.nombre}}
            </h2>
            <p>
                {{plan.periodo}} meses por {{plan.valor | currency}}
            </p>
            <button (click)="eliminarItem(i)" >Eliminar</button>
        </div>
    </div>
    </ng-template>
